<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @favorite.album %>
</p>

<p>
  <strong>User:</strong>
  <%= @favorite.user %>
</p>

<!--<%#= link_to 'Edit', edit_favorite_path(@favorite) %> |-->
<input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">
