<div>
  <p>
    <strong>Album:</strong>
    <%= transaction_item.album.name %>
    <br/>
    <strong>number:</strong>
    <%= transaction_item.number %>
    <br/>
    <strong>Price:</strong>
    <%= transaction_item.price %>
    <br/>
  </p>
</div>