<h1>帮助文档</h1>
  <strong>默认用户：</strong>
  <div id="li">
    <h2>管理员</h2>
  用户名：manager1<br/>
  密码：123456<br/><br/>
    用户名：manager2<br/>
    密码：123456<br/><br/>
<h2>用户</h2>
    用户名：customer1<br/>
    密码：123456<br/><br/>
    用户名：customer2<br/>
    密码：123456<br/><br/>
  </div>

<div id="li">
<h2><strong>系统介绍</strong></h2>
<div id="text_filed">
该唱片商务系统支持管理员与用户进行操作，管理员可以管理商品及订单，用户可浏览、收藏、购买商品并进行相关操作。</div>
</div>

<div id="li">
  <h2><strong>功能介绍</strong></h2>
  <div id="li">
<h2> 管理员视角</h2><div id="text_filed">

  管理员可以进行操作主要有：<br/><br/>

&emsp;&emsp;查看自身用户界面（界面中显示头像，昵称，邮箱，用户类型，创建修改时间，以及所有订单）<br/>

  &emsp;&emsp;&emsp;&emsp;对自身信息进行修改（头像，昵称，邮箱，密码）<br/><br/>

  &emsp;&emsp;查看所有订单信息（订单列表按订单状态分别显示，如点击“已付款订单”，可以列出所有处于该状态的订单）<br/>

  &emsp;&emsp;&emsp;&emsp;查看订单详细信息<br/>
  &emsp;&emsp;&emsp;&emsp;删除订单<br/>
  &emsp;&emsp;&emsp;&emsp;对“已付款”订单进行发货<br/><br/>

  &emsp;&emsp;创建修改商品信息<br/>

  &emsp;&emsp;&emsp;&emsp;管理员可创建新的商品，并对商品进行修改与删除<br/>

  &emsp;&emsp;&emsp;&emsp;管理员可创建新的商品属性（区域、音乐人、类型）<br/>

  &emsp;&emsp;&emsp;&emsp;管理员可查看所有商品列表<br/>

  &emsp;&emsp;&emsp;&emsp;管理员可查看某种商品的详细信息（但是不能进行收藏或加入购物车，生成订单等）<br/>
</div>
  </div>
  <div id="li">
    <h2>用户视角</h2>
    <div id="text_filed">
用户可以进行的操作主要有：<br/><br/>

      &emsp;&emsp;查看自身信息（除基础信息外，还有默认订单信息，购物车信息，收藏夹，自身的订单）<br/>
      &emsp;&emsp;&emsp;&emsp;用户可对自身信息进行编辑<br/>
      &emsp;&emsp;&emsp;&emsp;编辑自身用户名，头像等基础信息<br/>
      &emsp;&emsp;&emsp;&emsp;在“编辑”中添加默认收货信息<br/>
      &emsp;&emsp;&emsp;&emsp;在用户界面，可以对自身进行充值<br/><br/>

      &emsp;&emsp;用户可以查看收藏购买商品<br/>

      &emsp;&emsp;&emsp;&emsp;用户可以查看总商品列表<br/>
      &emsp;&emsp;&emsp;&emsp;用户可以收藏商品<br/>
      &emsp;&emsp;&emsp;&emsp;用户可以取消收藏商品<br/>
      &emsp;&emsp;&emsp;&emsp;用户可以将商品加入购物车<br/>
      &emsp;&emsp;&emsp;&emsp;用户可以删除购物车中商品<br/>
      &emsp;&emsp;&emsp;&emsp;用户可以修改购物车中商品数量<br/>
      &emsp;&emsp;&emsp;&emsp;用户可以由购物车导出订单<br/>
      &emsp;&emsp;&emsp;&emsp;用户可以对订单进行操作（如“支付”等，具体见“订单视角”）<br/><br/>
    </div>
  </div>
  <div id="li">
    <h2>商品视角</h2><div id="text_filed">

    &emsp;&emsp;商品由管理员创建，并进行修改和删除<br/>
    &emsp;&emsp;商品有其对应的音乐人，区域，种类，这些信息可以由管理员创建<br/>
    &emsp;&emsp;商品有自身的价格，库存，销售量属性。价格影响用户付款额，销量在商品创建时默认为0，且不能被管理员修改，库存与销量可在订单支付操作完成后自动修改<br/>
    &emsp;&emsp;商品可以被用户收藏，取消收藏，或加入购物车<br/>

  </div>
</div>
  <div id="li">
    <h2>订单视角</h2><div id="text_filed">

    &emsp;&emsp;用户将商品添加到购物车中<br/>
    &emsp;&emsp;用户由购物车导出商品订单，导出时需填写收货信息，如果不填写，则自动使用用户默认值<br/>
    &emsp;&emsp;生成后的订单处于"未支付"状态，用户可对自己的该状态订单进行编辑，比如修改收货地址等信息，修改订单中的商品数量等<br/>
    &emsp;&emsp;对于未支付状态的订单，用户可点击支付按钮进行付款，该操作只有在订单购买数量不超过商品库存，订单总额不超过用户余额时是有效的<br/>
    &emsp;&emsp;成功支付后，订单处于“已付款”状态<br/>
    &emsp;&emsp;对于“已付款”状态的订单，管理员可以进行“发货”操作，此操作后，订单处于“已发货”状态<br/>
    &emsp;&emsp;对于“已发货”状态的订单，订单所属用户可以进行“确认收货”操作，该操作完成后，订单处于“已完成状态”<br/>
  </div>
  </div>
</div>

  <div id="li">
    <h2><strong>操作流程及页面介绍</strong></h2>
    <div id="li">
    <h2>用户注册及登陆</h2><div id="text_filed">

      &emsp;&emsp;未登陆情况下，只能浏览商品，其他任何操作都会导向登陆界面。<br/>

      &emsp;&emsp;可进行注册与登陆，注册时需指定身份是“用户”或“管理员”，该身份指定后将无法修改<br/>
      &emsp;&emsp;登陆后，“登出”选项藏在用户个人界面内<br/>
    </div>
    <div id="li">
      <div id="text_filed">
      <h2>左边框</h2>

        &emsp;&emsp;页面左侧有导向各种功能的索引</div></div>
      <div id="li">
        <h2>管理员</h2>
        <div id="text_filed">
        &emsp;&emsp;当前用户（导向用户界面）<br/>
        &emsp;&emsp;所有订单（导向所有顶点界面）<br/>
        &emsp;&emsp;所有商品（导向商城首页）<br/><br/>



        &emsp;&emsp;添加唱片音乐人（导向添加唱片音乐人界面）<br/>
        &emsp;&emsp;添加唱片类型（导向添加唱片类型首页）<br/>

        &emsp;&emsp;添加唱片区域（导向添加唱片区域界面）<br/><br/>



        &emsp;&emsp;帮助文档（查看帮助文档）<br/>
        </div></div>

        <div id="li"><div id="text_filed">
          <h2>用户</h2>

          &emsp;&emsp;当前用户（导向用户界面）<br/>
          &emsp;&emsp;我的收藏（导向收藏界面）<br/>
          &emsp;&emsp;我的购物车（导向购物车界面）<br/>
          &emsp;&emsp;我的订单（导向订单界面）<br/>
          &emsp;&emsp;唱片商城（导向商城首页）<br/>
          &emsp;&emsp;帮助文档（查看帮助文档）<br/>
        </div></div>
  </div></div>
<input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回">